body {
  background-color: rgb(0, 60, 255);
}

a {
  color: rgba(255, 255, 0, 0.808);
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  color: whitesmoke;
}